
@{
    ViewBag.Title = "Login";
}
<header>

</header>

<body>
<div>
    <h2>欢迎光临酒店登录系统</h2>
    <div>
        <form action="/Login/Login" method="post">
            <div>
                用户名<input type="text" name="username" /> <br/>
            </div>
            <div>
                密码<input type="password" name="password" /> <br/>
            </div>
            <div>
                <button type="submit" >登录</button>
            </div>
        </form>
    </div>

</div>
</body>


